@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(45deg, #000000, #125b66);
    color: #333333;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);

    font-family: 'Montserrat', sans-serif, 'SemiBold ';
    font-weight: 600;
    font-size: 20px;
  }
  
  .navbar__left,
  .navbar__right {
    display: flex;
    align-items: center;
    margin: 0px 30px 0px 30px;
    position: relative;
  }

  .navbar__title {
    font-size: 24px;
    color: #ffffff;
  }
  
  .navbar__profile {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .nav-button-container {
    position: relative;
    margin-right: 30px;
  }
  
  .navbar__menu {
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 50%; /* Измените значение на 50% */
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    font-size: 14px;
    top: 100%;
    width: 100%; /* Убедитесь, что это значение установлено */
    transform: translateX(-50%); /* Добавьте это значение */
  }

  .navbar__menu-item--active {
    background-color: #d0deff;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .navbar__menu-item {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .navbar__menu-item:hover {
    background-color: #f0f0f0;
  }

