.my-row {
    flex: 1 0 auto; /* This will allow the row to expand and fill the available space */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.my-col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .my-col {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
}