.editor-main {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    margin: 20px 10px;
  }
  
  .editor-one {
    width: calc(20% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 1px;
    padding: 10px;
    background: white;
  }
  
  .editor-one .edit-area {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .cropper-container {
    background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%),
      linear-gradient(-45deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(-45deg, transparent 75%, #ccc 75%);
    background-size: 10px 10px; /* Уменьшенный вдвое размер */
    background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
  }
  
  .editor-one .edit-area::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .editor-one .edit-area > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .editor-one {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    width: 100%;
  }
  .button-group>button {
    border: none;
    flex: 1;
    height: 30px;
    font-size: 13px;
    background-color: #b4b4b4;
    border: 2px solid #afafaf;
    color: #363636;
    border-radius: 3px;
  }

  .button-group i {
    color: black;
  }

  .button-group>button:hover {
    
    background-color: #969696;
    border: 2px solid #8d8d8d;
  }

  .editor-menu{
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

  .input-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    color: #000;
    background-color: transparent;
    border: 1.5px dashed #000;
    cursor: pointer;
    width: 200px;
    height: 40px; /* Увеличьте высоту, чтобы вместить больше текста */
    position: relative;
    overflow: hidden; /* Ограничьте высоту текста, чтобы он не выходил за пределы блока */
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  .input-file:hover{
    background-color: #cacaca;
  }
  
  .select-container {
    width: 200px;
    height: 40px;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #f0f0f0;
    border: 1px solid #000;
    margin-left: 20px;
    border-radius: 5px;
  }
  .select-container:hover,   .select-container:hover:after{
    background-color: #dcdcdc;
  }
  
  .select-container:after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    background-color: #f0f0f0;
    cursor: pointer;
    pointer-events: none;
    transition: 0s all ease;
    z-index: 1;
  }

  .select-ratio {
    width: 100%;
    height: 100%;
    padding: 5px;
    background: transparent;
    color: #000;
    cursor: pointer;
    appearance: none;
    border: none;
    position: relative;
    z-index: 2;
  }
  
  .select-ratio:focus {
    outline: none;
  }

  .btn-group {
    display: flex;
    gap: 10px;
    margin: 50px 20px;
  }

  .btn-group>button{
    border: none;
    width: 200px;
    height: 40px;
    background-color: #39484a;
    border: 2px solid #3a4146;
    color: #f0f0f0;
    border-radius: 5px;
  }

  .btn-group>button:hover{
    
    background-color: #597174;
    border: 2px solid #5c676f;
  }