@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.usersMain{
    margin: 30px;
}

.usersMenu{
    display: flex;
    justify-content: left;
    align-items: center;
}

.usersMenu button, .usersMenu select, .usersMenu input {
  margin-left: 10px;
}

.usersMenu button {
  background-color: #2f616b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.1s ease;
  height: 30px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usersMenu button:hover {
  background-color: #415351;
  border: 1px solid #000000e2;
}

.usersMenu select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: 'Montserrat', sans-serif, 'SemiBold';
  font-weight: 500;
  font-size: 11px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #2f616b;
  padding: 0 10px;
  height: 30px;
  width: 150px;
}

.usersMenu select:focus {
  outline: none;
  box-shadow: none;
}

.usersMenu input {
  width: 200px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #2f616b;
    border-radius: 5px;
    font-size: 14px;
}

.usersList{
  margin-top: 40px;
}
.oneUser{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 0.5px solid black;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
}

.oneUser:hover{
  border-bottom: 1.5px solid black;
}

.oneUser button{
  width: 70px;
  border-radius: 3px;
  border: 1px solid #cccccc; /* задайте границу */
  background-color: #dedede; /* задайте цвет фона */
  font-size: 12px; /* задайте размер шрифта */
  color: #333333; /* задайте цвет текста */
  cursor: pointer; /* измените курсор на указатель при наведении */

}

.oneUser input{
    background-color: #ffffff; /* задайте цвет фона */
    font-size: 12px; /* задайте размер шрифта */
    color: #333333; /* задайте цвет текста */

}

.oneUser select{
    border: 0px solid #cccccc; /* задайте границу */
    border-radius: 0px; /* сглаживание углов */
    padding: 3px; /* задайте внутренний отступ */
    background-color: #ffffff; /* задайте цвет фона */
    font-size: 12px; /* задайте размер шрифта */
    color: #333333; /* задайте цвет текста */
    -webkit-appearance: none; /* удалите стандартное оформление в Chrome и Safari */
    -moz-appearance: none; /* удалите стандартное оформление в Firefox */
    appearance: none; /* удалите стандартное оформление */

}